[2018-12-31 14:31] Kamar-Meddah opened #1 "feat : drag using pixels"
you have done a good job , but i wish if the position was in pixels , i mean if we have a syntaxe like this

[code]

[2018-12-31 14:50] Kamar-Meddah opened #2 "how to use it"
i wish if there were docs that explain to us how to setup this  lib with cypress

[2019-01-03 20:41] anaerobic commented on #2
in your `commands.js` put:
[code]
happy new year! :fireworks:

[2019-01-07 12:40] #2 closed

[2019-01-07 12:51] bierik commented on #1
@Kamar-Meddah thank you for the improvement proposal.
According to the cypress docs it is possible to pass coordinates to the trigger method: https://docs.cypress.io/api/commands/trigger.html#Coordinates
But the coordinates are always relative to the top left corner. But in your example, you pass the position relative to the bottom left.
Do you have a concrete use case? Maybe there's an other solu

[2019-02-28 23:36] nolanpro opened #3 "Support for vue-draggable"
Thanks for this plugin! Any chance we can get support for vue-draggable like this PR is attempting to do (but hasn't gotten much traction in the cypress repo) https://github.com/cypress-io/cypress-example-recipes/pull/204. Thanks!

[2019-03-01 14:37] bierik commented on #3
@nolanpro Glad you like it! I'm running https://www.npmjs.com/package/vuedraggable in production, which is based on sortable.js. The tests are working fine with the plugin.
The sortable.js also uses native drag'n'drop. So I don't really know what the difference to https://github.com/Vivify-Ideas/vue-draggable is. Maybe you have any hints what the problem could be or you may try out https://www.npm

[2019-03-05 01:35] nolanpro commented on #3
Thanks for the reply. I'm going to play with this some more any if needed I'll come up with a minimal example. Thanks!

[2019-03-05 01:35] #3 closed

[2019-03-26 14:23] dauledk opened #8 "How to use this library with typescript"
My `commands.ts` is a typescript file.

When I add the line `require('cypress-drag-drop');`, I get this error:

[code]

How can I solve this problem?

[2019-03-27 07:45] bierik commented on #8
I am not a typescript expert. And I don't think this is a problem with cypress.
But maybe this will help you: https://stackoverflow.com/a/35961176/4558231.
So in my understanding, you simply need to do `npm install @types/node --save-dev`

[2019-03-29 20:22] smit9234 opened #9 "Uncaught TypeError: Cannot read property 'types' of undefined"
I am getting the following error when the dragstart method is called

![image](https://user-images.githubusercontent.com/7388782/55260360-6c8da300-5225-11e9-9140-62052da6d6d6.png)

Uncaught TypeError: Cannot read property 'types' of undefined

This error originated from your application code, not from Cypress.

When Cypress detects uncaught errors originating from your application it will automati

[2019-04-09 19:21] smit9234 commented on #9
Are you asking for my cypress or the application code?  I am using the syntax provided in the example.  The error occurs on the trigger. Cypress console isn't showing an relevant stack trace.  Debugging doesn't show any other errors.

Here is the line of code:

    cy.get('#dragHazardCardIconAdd').eq(0).drag('#dropNoHazards');

[2019-04-16 10:55] #8 closed

[2019-04-16 10:55] bierik commented on #1
@Kamar-Meddah Any update here?

[2019-04-16 10:59] bierik commented on #9
@smit9234 Can you give me a reproduction link (I'm fine with https://codepen.io/ or https://codesandbox.io) or a link to a repo so I can reproduce your issue. I guess there is something in your application that tries to get `types` of an undefined object when dragging.

[2019-04-21 00:01] technomage commented on #9
This comes from the dragstart not haing the payload (dataTransfer) data expected in an HTML5 drag/drop.

[2019-04-23 09:08] bierik commented on #9
@smit9234 So can you try using the newest version https://github.com/4teamwork/cypress-drag-drop/releases/tag/v1.2.1. Because there is now a default dataTransfer object since https://github.com/4teamwork/cypress-drag-drop/pull/10.

[2019-04-23 20:15] smit9234 commented on #9
@bierik
Sorry I am not able to give you the source code (intranet app).

I tried using version 1.2.1, and now I get this error:
`TypeError:` Cannot read property 'id' of undefined

[2019-04-25 14:45] bierik commented on #9
@smit9234 Can you isolate the code that is producing the error and provide me a reproduction link?

[2019-04-25 18:54] technomage commented on #9
@bierik Is the "default" data transfer going to have the data that would be present in the real drag/drop?  Ideally the contents would be populated by the actual components that support drag/drop.

[2019-04-26 20:27] smit9234 commented on #9
@bierik
I am not able to provide our source code. However I did try to make the plugin work against the following site that is an demo for dropping and dragging:

https://php.quicoto.com/examples/25/

Here is my cypress test:

    describe('drop and drag box 1', () => {
      it('should drag box 1 and drop in the larger box', () => {
      cy.visit('https://php.quicoto.com/examples/25/');
      cy

[2019-04-30 16:10] technomage opened #11 "Allow drag from a position within the element"
We have elements that are sensitive to where the mouse down occurs within the element.  It would be nice to do the mouse down with more control (pixel offset, or position as in the drag input).

[2019-05-01 13:47] rocketsurgeonboic opened #12 "allow options, or documentation on how to use them"
Ex: element is covered, we want to force:true the drag event. How do we do it?

[2019-05-16 16:04] tobiasbueschel commented on #1
Thanks for raising this @Kamar-Meddah --> I'm also looking for the same functionality. The use case that I have is a calendar element and I want to test that I can drag and drop events in a canvas container.

[2019-05-16 16:30] Kamar-Meddah commented on #1
you're welcome @tobiasbueschel  and @bierik  your library work greate thx but what i asked you is  that instead of using words like (topLeft, top, topRight, left, center, right, bottomLeft, bottom, and bottomRight.)
we use cordinates it doesn't matter if it is relative to the top left corner

[2019-06-05 11:25] baronvonbirra commented on #9
Exactly the same issue happening here.
Here's my code:
[code]
Here the error:
<img width="413" alt="image" src="https://user-images.githubusercontent.com/18036304/58952936-5eb04d00-8795-11e9-8378-6c343361a78e.png">

Any solutions? What could be wrong here?

Thanks!

[2019-08-22 15:42] bierik commented on #12
@rocketsurgeonboic Currently just the drop event is forced. It is not possible to pass an option to force the drag event.
Would something like this be helpful:
[code]
This would force all `dragstart`, `dragover` and `drop` events.

[2019-08-22 15:47] bierik commented on #1
@Kamar-Meddah @tobiasbueschel Sorry for the late response.
What about having something like this:
[code]
This way we would have a similar behavior of https://docs.cypress.io/api/commands/trigger.html#Syntax.
And when providing both `x`, `y` and `position` an error should be thrown.

[2019-08-22 15:55] bierik commented on #1
@Kamar-Meddah @tobiasbueschel In #11 I am discussing a similar issue. But there we want to control the position where to grab the element. To make this work with both `drag` and `drop` I would better suggest having something like:
[code]

This way we could cover both options.

[2019-08-22 15:56] bierik commented on #11
@technomage In #1 we are discussing a similar issue. What about having something like this https://github.com/4teamwork/cypress-drag-drop/issues/1#issuecomment-523966277

[2019-08-22 15:59] bierik commented on #11
Please follow the discussion on #1

[2019-08-22 15:59] #11 closed

[2019-08-24 20:09] Kamar-Meddah commented on #1
@bierik  think of it as  translate(x,y) in css

[2019-09-10 15:33] andriibuts opened #14 "Element could've already been detached from the DOM when "mouseup" is triggered"
Trying to add a test for an app which uses [react-dnd](https://react-dnd.github.io) and in my case `drop target` node is removed from the DOM after the `drop` event is triggered.

At the time `mouseup` is triggered the node is no longer in the DOM and `cypress` returns an error.

[code]

As I understand some implementations of DnD could listen for the `drop` event, some - for `mouseup` event and s

[2019-09-10 17:00] bierik commented on #12
@rocketsurgeonboic The thing is, that there are three different events happening from `dragging` over `drag over` to `drop`. So when having an option like `force`, which event should be forced.

You are also saying that `element is covered`. So this means that the element you are trying to drag is covered by a different element. So a user using the interface would not be able to drag the element a

[2019-09-10 17:28] bierik commented on #9
@smit9234 I released a new version 1.3.0 which includes the fix for the datatransfer object. I tried your example on https://php.quicoto.com/examples/25/ and it worked:

![Kapture 2019-09-10 at 19 28 04](https://user-images.githubusercontent.com/1637820/64636029-2d34c680-d401-11e9-907e-d32d653773c4.gif)

I hoped this helps.

[2019-09-10 21:31] Kamar-Meddah commented on #1
@bierik  yes that's it

[2019-09-11 07:26] bierik commented on #1
So to not mix the concept of `.drag` with our new approach. I would suggest providing a child command that looks like this:
`cy.get('.sourceitem').move({ x: 200, y: 20 })`. Because the target element makes no sense in that case, right?

[2019-10-23 18:31] arnabmondal19 commented on #14
Hi, I am seeing similar kind of issues with "**mouseup**" when trying to execute multiple tests together. In my scenario i have 2 Columns and wanted to drag and drop components 2 different columns. 1st test passed (adding button to Column) during 2nd test (adding Icon to Column) it failed with while executing "**mouseup**". I can see the Icon has been added in Column but trigger event has failed.

[2019-10-30 13:18] #9 closed

[2019-10-30 13:18] bierik commented on #1
@Kamar-Meddah What do you think about my suggestion? Would this help?

[2019-10-31 14:02] nnaidenov commented on #1
I will be very happy to see this functionality. We need this in our projects and for now we need to implement drag and drop with pure Cypress functions.

[2019-11-13 23:24] Jaguirre123 opened #15 "Do I need to define DataTransfer()?"
<img width="1233" alt="Screen Shot 2019-11-13 at 3 23 41 PM" src="https://user-images.githubusercontent.com/35276012/68813095-974c3080-0629-11ea-8dcc-cf0ff6509bfa.png">

[2019-11-13 23:42] Jaguirre123 commented on #15
Is it possible to add better documentation?

[2019-11-20 09:29] 90sidort opened #16 "This element is not visible because of parent"
Hi,

I am trying to use drag and drop in tests but it fails:
![image](https://user-images.githubusercontent.com/55019396/69226504-8a2ac680-0b80-11ea-8666-eae70d149733.png)

I added {force: true} to all triggers but the error still occurs. Where should I add {force: true} to disable error checking?

[2019-12-07 06:41] Mkots opened #17 "Add index.d.ts"
For TS users it will be useful. Now, if you use Cypress with TS you'll get this error:
[code]

[2019-12-10 21:16] bierik commented on #17
@Mkots As typescript is a superset of javascript it should be no problem to use the plugin with cypress. Can you give me more information about how you integrated the plugin in your existing project.

[2019-12-10 21:19] bierik commented on #16
@90sidort The drag'n'drop operation is done in three steps:

1. Grabbing the item (using 'mousedown' and `drag`)
2. Moving the item (using `dragover`)
3. Dropping the item (using `mouseup` and `drop`)

It's currently not possible to pass the force option to all the events needed to perform the drag'n'drop operation. I will fix this and inform you when it's done.

[2019-12-10 21:21] bierik commented on #15
@Jaguirre123 which version of the plugin are you using (lookup in the `package.lock` or `yarn.lock` file)?

[2019-12-10 21:25] Jaguirre123 commented on #15
@bierik @4tw/cypress-drag-drop@1.3.0

[2019-12-10 21:27] bierik commented on #14
@arnabmondal19 I think your Issue could be fixed with the suggestion from @andriibuts.
@andriibuts I would really appreciate a PR to fix this Issue. So feel free to open a PR. Maybe you can simply wrap the `mouseup` event in a `try`-block so one does not have to specify if the element accepts a `drop` or `mouseup` event.

[2019-12-10 21:28] bierik commented on #12
@rocketsurgeonboic I close this Issue because #16 is about the same Issue. Keep watching #16 for the fix.

[2019-12-10 21:28] #12 closed

[2019-12-13 12:55] thib38 opened #18 "dragend event is not emitted"
Hello,

 I face some difficulties using this plugin since it is not emitting the dragend event after the drop event is executed.
 I have some code that is  using the dragend event and therefore my tests are not properly working. Is there any reasons why it is not part of current implementation or will you consider adding ?

Thanks,

    Thibault

[2019-12-13 13:54] Mkots commented on #17
Yeah, I've just rewritten it to TS
[code]

[2019-12-20 21:26] jdmairs opened #19 "bounding box for selecting features in open layers map"
I've been trying for 2 days to get cypress to do pointer down, moves, and up in order to simulate a user selecting multiple items on an open layers map.  I was hoping this would be the silver bullet but I'm guessing true drag/drop needs to deliver a payload to the drop zone where as my situation does not.

Do you have any thoughts on how DragSimulator could be modified to do a "simple" bounding bo

[2019-12-27 15:18] bierik commented on #17
@Mkots I do not think you have to rewrite the plugin in TS. Simply install the plugin and import it as described in the README. This should work. Maybe you have to disable the typecheck of TS for the plugin.

[2019-12-27 15:30] bierik commented on #15
@Jaguirre123 I am not able to reproduce your error with 1.3.0
How did you install the plugin? What version of cypress are you using?

[2019-12-28 08:23] jmcollin78 opened #24 "Plugin don't work as expected with Angular material"
I've tried many workaround to make drag and drop work with Cypress (ie your drag and drop plugin also) but the only working solution is here : https://stackoverflow.com/questions/55361499/how-to-implement-drag-and-drop-in-cypress-test see @Bkucera solution.

Maybe it's a good idea to integrate his solution in this plugin ?

[2020-01-02 05:57] smart625 commented on #17
@bierik For TS I met the same issue, even though I have import the plugin in TS following RWADME.  So can you take a look at it or this is an only issue for TS users?
![image](https://user-images.githubusercontent.com/24734147/71651033-8aa8a680-2d55-11ea-9c0a-1eb2290356db.png)

Another issue is when I use this plugin to drag and drop element

[2020-01-03 09:11] #16 closed

[2020-01-03 10:21] bierik commented on #14
@andriibuts I made a PR here: https://github.com/4teamwork/cypress-drag-drop/pull/26
Could you please try out this fix with your setup. I did a test using vue-draggable trying to mimic the behavior you described.

[2020-01-03 10:38] bierik commented on #17
@smart625 @Mkots I never used TS so no idea what to do exactly. Should I do something like this: https://github.com/abramenal/cypress-file-upload/blob/master/index.d.ts to get rid of the error?
@smart625 About the `other Issues`: Right the single `center` argument does not work anymore. The `.drag` command will accept an options object in the next version. This is already fixed on master. Sorry fo

[2020-01-03 10:45] bierik commented on #24
@jmcollin78 I have never worked with Angular nor Angular material. We also do not use Angular at all in the company. So I probably wont have too much time to solve that issue. But feel free to open a PR. I am also doing a review.

[2020-01-03 14:39] andriibuts commented on #14
@bierik, thanks for the PR, I've tried it on my setup and it seems to work fine now.

Also, I left one question in the PR

[2020-01-15 12:15] #14 closed

[2020-01-20 14:40] bierik commented on #1
@Kamar-Meddah @nnaidenov @tobiasbueschel I opened a PR implementing the `move` feature: https://github.com/4teamwork/cypress-drag-drop/pull/27
Please feel free to try out if it suits your needs. I would also appreciate feedback and comments in the PR. Thank you all.

[2020-01-21 14:00] bierik commented on #18
Note for when the `dragend` event should be fired: https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API/Drag_operations#dragend

[2020-01-24 18:22] varontron opened #28 "dragenter, dragleave not emitted"
#### Issue description
When executing a test of dnd, the plugin fails to emit `dragenter` and `dragleave` events, limiting related functionality to conditional logic with state awareness in a `dragover` handler.  This is particularly annoying when modifying styles amongst several potential drop targets.

#### Steps to reproduce the issue

1.  Attach a `dragenter` or `dragleave` event handler to th

[2020-01-24 18:42] varontron opened #29 "mouseenter event is not emitted"
#### Issue description

To enable dragging, an element must have a `draggable` attribute set to `true`.  It is possible to set this attribute in a `mouseenter` handler (alongside other functions such as css changes.)  Perhaps due to the lack of support for `hover` functionality in Cypress, this plugin does not emit `mouseenter`, forcing changes to code to enable dnd tests.

#### Steps to reproduce

[2020-01-30 15:27] arnabmondal19 commented on #14
@bierik - This fix did not solve my issue though. i am still seeing the issue. Running multiple tests.

[2020-01-31 19:20] arnabmondal19 opened #30 "Element detached from the DOM when "mouseup" is triggered"
I am seeing issues with "**mouseup**" when trying to execute multiple tests together. In my scenario i have 2 Columns and wanted to drag and drop components 2 different columns or in same column (either way). 1st test passed during 2nd test it failed while executing "**mouseup**". I can see the component has been added in Column but trigger event has failed.

Can you please suggest why running mul

[2020-02-12 14:42] sorayaM opened #31 "elements found but no action was performed"
I read about the commits that you made about the force : true, but still even though the elements were being found, no action was performed, they remained where they were....

[2020-02-12 14:44] sorayaM commented on #16
@bierik have these changes been implemented?

[2020-02-17 10:46] htd-tstepien opened #32 "Idea for drag and dropping fixtures"
Is it possible to add an implementation of a drag and drop function for fixtures (files/images/etc)?

Implementation like:
[code]

In free time I can try to do PR with function

[2020-02-20 21:57] alexisbssn commented on #15
I was able to reproduce with 1.3.1 and cypress 3.8.2

[2020-02-25 18:42] sorayaM opened #33 "Drag and drop for angular components"
Is there a way to apply the d&d for angular components?

[2020-03-09 13:03] Prophetaa commented on #31
What's happening to me is, it picks the element and it disappears, never goes to the target position

[2020-03-09 14:20] sorayaM commented on #31
I've since found out that it has something to do with the Angular components and so....
has there been any findings regarding this issue? is there a way to interact with such elements?

[2020-03-09 15:21] Prophetaa commented on #31
I have found nothing yet, but I will keep you up-to-date, what version of Angular are you using @sorayaM   ?

[2020-03-11 15:02] sorayaM commented on #31
@Prophetaa Angular 7

[2020-04-03 14:24] bierik commented on #1
Maybe closed thru https://github.com/4teamwork/cypress-drag-drop/pull/27

[2020-04-16 08:41] bierik commented on #32
@htd-tstepien I think you are looking for something like this: https://www.npmjs.com/package/cypress-file-upload. To drag-n-drop a fixture on a dropzone the plugin provides that with the `attachFile` command:

[code]

[2020-04-16 08:42] bierik commented on #33
@sorayaM I think this issue is already discussed in https://github.com/4teamwork/cypress-drag-drop/issues/24.

[2020-04-16 08:59] bierik commented on #15
Unrelated to this repo

[2020-04-16 08:59] #15 closed

[2020-04-16 09:08] bierik commented on #30
@arnabmondal19 I implemented a fix for detached elements. Which version are you using? Maybe you could try the newest version of the plugin `1.3.1`.

[2020-04-16 09:15] bierik commented on #31
@sorayaM There is already an open thread on https://github.com/4teamwork/cypress-drag-drop/issues/24 about the angular integration. Can we close this issue?

[2020-04-16 10:07] htd-tstepien commented on #32
Overall it's kinda old idea/question which I overcame with bare cypress (many variables but it's reusable command for cypress because in-app we use a lot of these so for not repeating I decided that to move into own command)

[code]

[2020-04-17 15:25] sorayaM commented on #31
@bierik the solution was for protractor, and it tried to translate it to cypress, but didn't work. We can close this anyhow, since cypress may be working on the solution for this elements

[2020-04-27 15:00] sauvai opened #36 "cy.get(...).move is not a function"
I can use cy.get(...).drag but not cy.get(...).move, am i missing something ?
I use it like this :

` cy.get(".titleBlock").move("center");`

[2020-05-11 10:57] hankolsen commented on #36
Same thing for me

[2020-05-15 11:14] ishanshukla97 commented on #17
I added this to my cypress/support/index.d.ts

`/// <reference types="cypress" />

declare namespace Cypress {
    interface Chainable {
      /**
       * Custom command to select DOM element by data-cy attribute.
       * @example cy.dataCy('greeting')
      */
      drag(value: string): Chainable<Element>
    }
  }`

[2020-05-15 12:02] ishanshukla97 commented on #36
This repository (v1.3.1) has the latest code with move() implemented. But npm installing the same version doesn't give us the latest code. In it .move() is not implemented.
What could be the issue?

[2020-06-01 09:02] armno commented on #36
it seems `.move()` is a new feature from #27 and was added after v.1.3.1 released (702d7818a882011329ab655fcd66e7f9b5b0f4e4).

a workaround for me is to install this module from github directly:

[code]

there should be something like this in `package.json`

[code]

until we get a new release on npm. hope it helps 🤞

[2020-06-04 12:23] fredlnl opened #37 "cy.get(...).move(...) not working"
Hi,

I tried the new child command **move**.

Nevertheless, this command is not effective.

Have you a hint on why the command is not working ?

<img width="1392" alt="Capture d’écran 2020-06-04 à 14 16 06" src="https://user-images.githubusercontent.com/4253344/83755689-3be99a80-a66e-11ea-9119-f5f31b633eed.png">

### source code :
[code]

My goal is to move the vertical separator between the two p

[2020-06-05 05:45] vlio20 commented on #37
Seems like the deployed/dist version is not updated

[2020-06-05 05:47] vlio20 commented on #37
duplicate of #36

[2020-06-05 09:48] fredlnl commented on #37
No.
I set up the package from "github:4teamwork/cypress-drag-drop"
but neither drag and move are working.
It's not really comprehensive for me, as I can move it straightforward by hand.

[2020-06-06 05:22] fredlnl commented on #37
May I share you the source code of the tested components.
I assure you, neither _drag_ and _move_ commands works.

https://codesandbox.io/s/window-splitter-qrlwx

[2020-06-07 08:30] askirmas opened #38 "No dragend event on source"
https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API/Drag_operations#dragend

So after `this.target.drop`
https://github.com/4teamwork/cypress-drag-drop/blob/ef2f1332b8b8cdeb407f5c7236127a520eaa9dd7/index.js#L35-L36
should be `this.source.trigger('dragend', ` with `screenX` and `screenY` of `drop`

[2020-07-08 22:00] jasurabdullin commented on #37
I have the same issue and I have set up the package from "github:4teamwork/cypress-drag-drop" as well. Is there any update on this?

[2020-07-15 06:05] yglin commented on #24
This code snippet works for me, inspired by @jmcollin78 's [stackflow post](https://stackoverflow.com/questions/55361499/how-to-implement-drag-and-drop-in-cypress-test) and [official recipe](https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/testing-dom__drag-drop/cypress/integration/drag_n_drop_spec.js)

[code]

Usage:

`cy.get('.selector-for-draggable-element').dragTo('.s

[2020-07-22 10:16] skivol commented on #36
@bierik, so what about new release which includes `move` command ? 😃

[2020-07-22 13:36] bierik commented on #36
@skivol New release 1.4.0 includes the new move command

[2020-07-22 13:41] skivol commented on #36
@bierik, great ! Thank you ! :)

[2020-07-23 09:09] #36 closed

[2020-09-28 10:26] cckrause commented on #37
This plugin is kind of useless. Maybe there was a major API change or something but as mentioned before nothing is working as expected. I stepped through some calls and it seems like the internal API is broken.

[code]

The internal function declarations:
[code]

All internal functions `dragstart` and `dragover` and drop `dragstart` got optional parameters `{ clientX, clientY } = {}`. As you can s

[2020-10-29 13:43] Uninen commented on #37
I'm experiencing the same problem but also can't figure out a way to get dragging working even manually. If anyone has a manual workaround or any examples of working solutions with or without this plugin, I'd appreciate any help 👍

[2020-11-16 16:21] wasiqkhan786 commented on #19
I am also trying but its not working .almost tried all solutiions

[2020-11-20 16:01] jayarjo opened #45 "Dragging a non-DOM element?"
What about dragging a non-DOM element, for example a dot drawn on the canvas? Same events, mousedown at a particular point, mousemove, mouseup, however no DOM element.

[2020-11-20 16:02] jayarjo commented on #19
@jdmairs  @wasiqkhan786 did you guys came up with any solutions?

[2020-11-22 08:36] CScharer opened #46 "Installing causes cy to not be recognized?"
Does this work with Cypress 5.6.0?
I installed the latest package and after installing it I get an error that it no longer recognized cy.

[2020-11-26 09:44] RosenMihaylov commented on #46
Hello,

I`m a cypress tester and I`m using your plugin for more than 6 months. When Cypress updated to version 5.0.0 I tried updated your plugin to version 1.4.0 but It didn` t work. I shows the action as command, but never moved the element.

After several attempts i returned to version 1.3.1 and Cypress 5.6.0.

[2020-11-26 20:18] rabbiveesh opened #48 "Dragover event never triggered"
Sometimes, this plugin never triggers an actual drag. I can't quite pinpoint the cause for this, but it seems to happen to me on a component which resizes when its dragged.

In any case, I looked through the code, and noticed that there's no assurance that the dragover event is ever called. I saw that this is b/c the dragover code is recursively called. However, as in my case, you may hit a stoppi

[2020-12-10 12:38] #48 closed

[2020-12-10 13:42] bierik commented on #46
@CScharer @RosenMihaylov I updated all devDependencies and installed cypress as a devDependency itself to test the plugin against a specific version (6.x). With cypress 6.x all the tests are passing. Could you try again with master please.

[2020-12-10 13:47] bierik commented on #33
Duplicate of https://github.com/4teamwork/cypress-drag-drop/issues/24

[2020-12-10 13:47] #33 closed

[2020-12-10 13:49] bierik commented on #31
Okay then. Thank you @sorayaM .

[2020-12-10 13:49] #31 closed

[2020-12-10 13:50] CScharer commented on #46
@RosenMihaylov Since the test I was trying to automate was an edge case and would not give a good ROI I no longer need this plugin.

[2020-12-10 13:50] #46 closed

[2020-12-10 13:50] #24 closed

[2020-12-21 12:46] RosenMihaylov commented on #46
Nope, still not working for me. Test initializes the action but never does it with version drag-drop 1.4, cypress 6.1, but combination drag-drop 1.3.1, cypress 6.1 still works perfectly

![image](https://user-images.githubusercontent.com/58471905/102778441-3f8b0780-439b-11eb-87ea-f0479af33f92.png)

[2020-12-30 15:13] rlingineni opened #51 "Will a new version be published on NPM?"
@bierik / @Sauloxd - we are relying on this package, and it seems that it was updated recently to support other peer versions of Cypress, but the version on npm still seems to be `1.4.0`.

Could you publish this package?

This is causing errors for us:
![image](https://user-images.githubusercontent.com/5509813/103362406-13e4dd00-4a7f-11eb-9ec2-a586b0920933.png)

https://github.com/4teamwork/cypres

[2021-01-11 17:04] lucidity-joe commented on #37
Both move and drag are doing nothing for me. Elements are just staying put.

[2021-01-29 11:10] bierik commented on #51
@rlingineni I just released 1.5.0 with the latest changes: https://www.npmjs.com/package/@4tw/cypress-drag-drop

[2021-01-29 11:10] #51 closed

[2021-02-05 16:32] mustafahamid commented on #19
any news ?

[2021-02-05 16:33] mustafahamid commented on #45
any news ?

[2021-02-06 22:58] noams-c2a commented on #30
Hi, I had built my cypress tests using cypress-drag-drop 1.4.0 successfully.
I now upgraded to 1.5.0 and I'm getting the detached element error.
![image](https://user-images.githubusercontent.com/58210715/107131438-fa854b00-68de-11eb-9169-9af2770aaf1a.png)

When I downgrade back to 1.4.0 it works again.
I'd appreciate if you can check where did it brake.
Thank you

[2021-02-25 13:32] bierik commented on #17
Fixed in Version 1.6.0 by https://github.com/4teamwork/cypress-drag-drop/pull/54

[2021-02-25 13:32] #17 closed

[2021-03-03 13:16] Rishikantpd opened #56 "index.js"
I have made a change in index.js

if (isAttached(this.targetElement)) {
          this.target
            .trigger('mouseup', {
              **force: true,**    //i have added this line
              which: 1,
              button: 0,

but it is not reflecting in run time

[2021-03-04 07:40] lvonlanthen commented on #56
This does not work because `this.options` overwrites it a couple of lines later (https://github.com/4teamwork/cypress-drag-drop/blob/master/index.js#L65) and `this.options` contains `force: false` as default value.

I don't think you should change the `index.js` file directly, you should rather pass `force` as an option when calling `.drag()`. As an example: `cy.get('.sourceitem').drag('.targetite

[2021-03-08 18:41] silentchaostheory opened #57 "Coordinates can be passed into drag function but are ignored"
If you review the documentation for the trigger command, the options that can be passed in include coordinates from the top, left corner of the subject element where the pointer/mouse is located when the down/up/move/etc action is performed.
https://docs.cypress.io/api/commands/trigger.html#Coordinates

The drag being called on the row in the relative location of the drag handle:
` cy.get(studyAct

[2021-03-08 18:44] silentchaostheory commented on #57
Forgot to provide version information, apologies:
  "dependencies": {
...
    "cypress": "^4.3.0",
 ...
  "devDependencies": {
    "@4tw/cypress-drag-drop": "^1.4.0",
...

[2021-03-15 12:27] Jarzka opened #59 "index.js:107 Exceeded maximum tries of: 5, aborting"
I have a table of rows, I want to drag the first one and and drop it below all the others.

I have the following code
[code]

When this code is executed, the `drag-now` element's `ondragstart` is fired. After that, the element is being dragged and moving on top of the final line, which fires `ondragover` event. This event does nothing, it just prevent's the default event from happening, which allo

[2021-03-15 12:44] Jarzka commented on #59
I was able to get it working by triggering correct drag events manually with `.trigger()` cypress command.

[2021-03-15 12:44] #59 closed

[2021-04-13 17:52] baechul-k opened #60 "MouseEvent construction failed due to "undefined" for clientX/Y passed to dragstart, dragover and drop"
My test code:
[code]
Drag and drop failed in Chrome (Version 89.0.4389.114 (Official Build) (x86_64))

Analysis:
I made to print clientX/Y on dragstart, dragover and drop calls:

[code]

As shown below, "undefined" were passed.
<img width="433" alt="Screen Shot 2021-04-13 at 10 39 30 AM" src="https://user-images.githubusercontent.com/80917407/114596963-12fa4480-9c45-11eb-83e5-e9da5edc0e32.png">

I

[2021-04-13 21:27] baechul-k commented on #60
And here is the version:
"@4tw/cypress-drag-drop": "^1.6.0",
"cypress": "^6.8.0",

[2021-04-18 11:34] shashankvivek opened #61 "Cannot read property 'getBoundingClientRect' of undefined"
I am getting below error :

[code]

The test is as simple as

[code]

I have installed the node module and have added `import '@4tw/cypress-drag-drop'` in `command.ts` file.

[2021-04-18 11:47] #61 closed

[2021-04-18 20:12] yuriidrapak opened #62 "Add Cypress 7.1.0 support"

[2021-04-27 08:18] anshof opened #63 "This element is not visible because its ancestor has position:fixed"
I'm using drag and drop but it fails
![dnd](https://user-images.githubusercontent.com/62334286/116208614-4b347380-a76b-11eb-8238-cedce691c0f1.PNG)
I have tried to add `{force: true}`, the test is passed but the drag and drop are not occurring. Where should I put `cy.scrollIntoView()` so that the plugin works?

[2021-04-28 01:39] anshof commented on #63
I've found the solution, but I'm not gonna use the plugin.

[code]

I found it [here ](https://stackoverflow.com/questions/55361499/how-to-implement-drag-and-drop-in-cypress-test)

[2021-04-28 01:39] #63 closed

[2021-04-28 10:48] lucidity-joe opened #64 ".drag() does not appear to work on elements selected from an array using .eq(), .first() and .last()"
The project I am testing is using Vue Draggable - which may be the issue, as I know others have had problems getting drag and drop with Cypress to work reliably with that module.

To keep it simple I'll show you the line of code that is working and one that isn't:

Working code:
`cy.get('.tools-drag-panel:nth-child(${startElement})').drag('.tools-drag-panel:nth-child(${targetElement})')`

Broken c

[2021-04-29 14:43] cedro9 commented on #37
The code below worked for me. Drag and drop with iframe:

`const dataTransfer = new DataTransfer;
cy.get('element-drag')
    .trigger('dragstart', { dataTransfer })
cy.iframe('element-iframe')
    .trigger('drop', { dataTransfer, force: true });`

I also used: https://www.npmjs.com/package/cypress-iframe

[2021-04-29 22:14] JustChapman commented on #64
I too was running into a similar issue with .drag(). But, when I replaced it with the .move() method, it worked fine. 🤷‍♂️

[2021-05-03 09:18] helenou commented on #64
Hi, I'm facing same issue as explained by @lucidity-joe and because the site is cross-device i don't think @JustChapman using move() solution is i a viable option.

Here is a sample code not working to drag and drop image. eq(index) don't work :

`    cy.get('div#myimage').drag('span.placeholder:eq(0)');
`

[2021-06-02 23:17] msilesgap commented on #64
Hi, I'm facing the same issue trying to move some columns in an existing grid.

[2021-06-22 06:54] Chetan11-dev opened #73 "Thanks you very much."
Thanks you very much.

[2021-07-06 06:55] mbranicky commented on #62
@yuriidrapak could you please merge the attached PR into main branch? Is there any technical reason to not do that? We appreciate your plugin in the team very much and use it quite a lot. Currently it's the only dependency which stops us to update to Cypress 7.x.

[2021-07-19 13:46] pstema opened #74 "Can not install with cypress 7.0 or above"
I get this error when running
npm install --save-dev @4tw/cypress-drag-drop

Could not resolve dependency:
npm ERR! peer cypress@"^2.1.0 || ^3.1.0 || ^4.0.0 || ^5.0.0 || ^6.0.0" from @4tw/cypress-drag-drop@1.6.0

Looks like the update was made but not published

as of 7/20/2021
cypress is now on version 8!

[2021-07-22 12:47] lvonlanthen commented on #62
@yuriidrapak and @mbranicky With version 1.7.0 released today, Cypress 7.x is now suppported.

[2021-07-22 12:47] #62 closed

[2021-07-22 12:54] lvonlanthen commented on #74
@pstema With version 1.8.0 released today, Cypress 8.x is now supported.

[2021-07-22 12:54] #74 closed

[2021-07-22 12:55] #56 closed

[2021-07-28 23:45] NPC commented on #37
Are you guys seeing "index.js:107 Exceeded maximum tries of: 5, aborting" in the console when this happens? .drag worked fine for me before updating to Cypress v8.0.0, but now stopped, even after updating the plugin to v1.8.0.

[2021-08-03 22:42] orrybaram commented on #37
@NPC yes Im getting the exact same thing

[2021-08-09 16:09] lucidity-joe commented on #1
I am trying to use position as shown in the docs and it does not appear to affect the part of the element cypress is interacting with.

My code is similar to:
`cy.get(element).drag(targetElement, { position: 'center' })`

Running the test using cypress browser, if I highlight the steps associated with this code it shows the cursor in the 'top' position

[2021-08-15 15:39] SSDlm commented on #37
don't know if this solves anything for anyone but it should be move({ x: 100, y: 100, force: true})

[2021-09-03 13:03] shwethakay opened #80 ".move() is niot working with coordinates passed."
I am trying to move an element to specific coordinates and its not working. Is this an issue from plugin? Or does this work well for any scenario?

[2021-09-03 17:23] silentchaostheory commented on #57
Tried replacing this:
`      cy.wrap($browseSectionsContainer)
        .find(selectors.artifactsTableAccordion)
        .children('button')
        .drag(selectors.relationshipsTableAccordion, { force: true, position: 'center' })`
With this:
`cy.wrap($browseSectionsContainer)
        .find(selectors.artifactsTableAccordion)
        // .children('button')
        .drag(selectors.relationshipsTableA

[2021-09-06 06:51] bierik commented on #80
The move command is tested to make sure that it's working. It may depend on the drag-drop plugin you're using in your application. If you can tell me more about the environment that you're using, I can have a look. The best thing you can do, is to provide me some code on https://codesandbox.io/ or https://codepen.io/, so I can reproduce your issue.

[2021-09-06 07:13] shwethakay commented on #80
Hi Bierik
I am using the @4tw/cypress-drag-drop plugin for drag and drop. The implementation of my draggable items in the application is using GoJS. when I try .drag() the draggable item drags from source to target location. But when I pass co-ordinates nothing happens.

[2021-09-06 07:41] bierik commented on #57
As soon as https://github.com/4teamwork/cypress-drag-drop/pull/78 is merged, it'll land in a new release.

[2021-09-06 07:41] #57 closed

[2021-09-06 09:23] mattcph commented on #37
Yes, this indeed helped. Needed the `force: true` part to skip over the 'hidden' error reported. thank you.

[2021-09-21 16:20] IlCallo commented on #80
Looking at the commands code, seems like `.move()` command is meant to work only when the source has position absolute

[2021-09-21 16:35] IlCallo commented on #37
@cckrause
`clientX` and `clientY` from params are apparently only used when using `.move` command, that's why nothing is provided when using `.drag`

[2021-09-21 17:13] IlCallo opened #81 "Update TS types"
AFAIK `drag` command is returning a `Chainable<true>` too, I just tested it by running

[code]

Also, the second definition generic parameter isn't actually used and can be removed

This https://github.com/4teamwork/cypress-drag-drop/blob/4821da6e1316dce67fd77667808107f431390f95/index.d.ts#L15-L17

should become
[code]

Even better if https://github.com/4teamwork/cypress-drag-drop/blob/4821da6e131

[2021-10-19 19:32] kdp88 opened #82 "allow cy.xpath to be the source"
please allow cy.xpath to be the source

`
//step
cy.xpath(openBalanceInactiveColumnHandle).drag(amountsActiveColumnHandle);
`

`
// error
Syntax error, unrecognized expression: //div[contains(./@id, "active__field-row") and text() = ' openBalance, totalDue '];
`

[2021-11-02 10:27] mushan0x0 opened #83 "Clone mode does not take effect."
I want to copy the left column to the right, but it doesn't take effect. If only the left column is sorted, it is fine.

[code]

This is possible:
[code]

This is not OK:
[code]

[2021-11-11 20:10] libasoles opened #84 "Support for cypress 9.0?"
Great project.
Are you planning to support Cypress 9? I'm downgrading by now just because I love this library.

[2021-11-24 15:03] #84 closed

[2021-11-24 23:24] vakareeralil opened #87 "Updating to the latest trigger api"
It looks like the
[code]
does not work currently as the code eg: [here](https://github.com/4teamwork/cypress-drag-drop/blob/master/index.js#L59) has to be adapted to the latest trigger api as in [here](https://docs.cypress.io/api/commands/trigger#Syntax)

A sample fix would look like
[code]

  I would be interested in solving this issue with your help if that works.

[2021-11-25 17:37] lucassr1994 opened #88 "all .drag command stop working on version 2.1.0"
Hey guys, I've updated using yarn to version 2.1.0 and the .drag command stop working. I change it back to version 2.0.0 and it is working again.

I couldn't check what's wrong with the new version, but hope this issue warns other people.

[2021-11-30 04:58] Soumodeep-Ganguly opened #89 "Drag and drop is not working on Cypress 9.1.0"
I am using drag and drop on my project where in cypress version 8.4 drag and drop was working but when I updated it 9.1.0 it stopped working.
Can you please help me with it?

Thank You.

[2021-11-30 10:09] bierik commented on #89
Can you give me more insight what the error is? Maybe a console output or a codesample on https://codesandbox.io/ or https://codepen.io/

[2021-11-30 10:09] bierik commented on #88
Can you give me more insight what the error is? Maybe a console output or a codesample on https://codesandbox.io/ or https://codepen.io/

[2021-12-01 14:18] undefined-1 opened #90 "Dragula and drag and drop testing."
Hello everyone!

I use a lib [dragula](https://github.com/bevacqua/dragula) in my project and I'm trying to test it by cypress-drag-drop but it doesn't work.

Could you help me with it, how to make it works?

Thanks!

[2021-12-03 17:05] vakareeralil commented on #87
@bierik could you see to this issue? I would assume #88  and #89  is related to this.

[2021-12-06 19:24] bierik commented on #87
@vakareeralil Thank you for pointing this out. I'll have a look.

[2021-12-06 20:12] bierik commented on #87
@vakareeralil I don't see the issue. I put a stub on the `position-bug` branch. I did a test where I split the item being dragged in three parts horizontally. The part on the far right is the drag handle. When I adjust the options to grab the part on the far right, it works as expected.
When I set the options so that the part on the left is grabbed the test does not work as intended.
Can you give

[2021-12-09 07:35] rp3e11 commented on #80
Hi,

I am trying to use the move function. While it is moving, it is not moving as expected. I had a look at implementation and there is a bit that I do not get.

According to my understanding, clientX, left and deltaX should be horizontal and clientY, top and deltaY should be vertical. However, the implementation uses `clientX =  top + deltaX` and `clientY = left + deltaY`. Is this intended?

[2021-12-09 08:42] lvonlanthen commented on #87
Hi @vakareeralil. I also tried to reproduce your issue but was not able to see a problem. Could you please provide more information, otherwise we are not able to help you. Thanks!

[2021-12-11 10:56] vakareeralil commented on #87
Hi thanks for seeing to my concern.

I have a piece of code like this
[code]
Here I i get the item to be dragged  which has a specific element within it to click to start a drag and execute the `drag` function on it, and later pass it the item to be dragged to with the target. The first issue I found was that the options arguments to `.drag` function is not typed properly. Writing `position: 'cent

[2021-12-13 12:10] tzahita commented on #89
Any update/workarounds for this issue?

[2021-12-30 21:36] wdfinch opened #91 "How wait for drop target to appear"
Hi there,

Thanks so much for creating this awesome library. I'm currently struggling to do some basic drag and dropping and would really appreciate it if someone could point me in the right direction.

I simply want to drag an element to a target destination. However, the issue is the target destination is not rendered on the screen until the dragging begins. Therefore I get an error when doing `

[2022-01-03 13:08] aasimali opened #92 "How can I use this with iframe?"
Currently, I'm using this plug-in and it works fine, if there's no iframe.

Consider that my drag and drop elements are inside an iframe, then how can I use it, please guide me here.

Thank you.

[2022-01-18 22:40] NPC commented on #89
@bierik, I don't know about OP, for me there's this error in the console (in `dragover` method):

This plugin stopped working for me since around Cypress 8.0.0, worked fine before.

[2022-02-24 12:20] vinayakshedgeri opened #96 "How to provide target element object if it is shadow element"
I need to drag and drop the element which are inside the shadow DOM

drop is just string here , means we can provide only a string
  cy.get('swaplist').shadow().get('.swaplist__content').drag('.list-style2__drop-indicator-end')

[2022-03-01 20:26] slocka commented on #89
I am using this cypress plugin for my tests and after upgrading to Cypress 9 my tests stopped working. In my failing tests, I could see that the drag was starting, that my target element was receiving the drag over event, but the actual drop of the element was never happening. I could also see the `Exceeded maximum tries of: 5, aborting` error in the console.

I initially thought that upgrading to

[2022-03-24 13:03] T-e-j-k-u-m-a-r opened #98 "encountered an error post drag and drop is complete"
Hi team,

Please find the below code snippet where I'm trying to achieve drag and drop and getting an error on Test runner console.
-----------------------------------
Code Snippet:

it('using npm package', () => {

        cy.visit(`https://testautomationpractice.blogspot.com/`)
        cy.get('div#draggable').drag('div#droppable')

    });
-------------------------------------

Error:

Timed out

[2022-03-24 13:04] T-e-j-k-u-m-a-r commented on #98
![facing error while performing drag and drop using npm package](https://user-images.githubusercontent.com/54025065/159922269-5f42f32b-594f-4395-8d0e-b519b170b16b.PNG)

[2022-03-24 13:09] T-e-j-k-u-m-a-r commented on #98
Even tried with difference as per the documentation in the npm repo, But it results in false positive result. Please find below code snippet for the same:

 it.only('using npm package - way 2', () => {

        cy.visit(`https://testautomationpractice.blogspot.com/`)
        cy.get('div#draggable').drag('div#droppable', {
            source: { x: 100, y: 100 }, // applies to the element being drag

[2022-03-24 13:09] T-e-j-k-u-m-a-r commented on #98
Please look into the issue and resolve asap.

Thanks in advance,
Tejkumar Kempaiah

[2022-04-11 08:34] davidbejarcaceres commented on #88
Hollo guys any news about this bug introduced in 2.1.0?

I found it because our Jenkins tests started to fail. I check the Cypress output steps, and realize the last steps of the drag&drop where not been executed, just ends abruptly, so it dows not end the "drop".

**This is a Critical bug for v2.1.0.**

I´m sharing with you the Cypress panel so you can compare the v2.1.0 and v2.0.0.

It looks lik

[2022-04-12 07:12] qa-joerg opened #100 "drag and drop using .contains and .eq commands"
Hi,
I installed this API for our application to test the drag and drop features of our application. Unfortunately there is only the possibility to use unique selectors. Our application has partly same selectors which can only be selected by `contains` or by index and the command `eq`.

Is there a possibility to work with this commands, e.g. like this:
[code]

Or is there any workaround I can use t

[2022-04-20 10:03] dao0dao opened #101 "Problem with instaling drag-and-drop plugin"
Hello,
I have problem with "right" installing drag-and-drop plugin, I'm using Angular 13.
Errors:
![obraz](https://user-images.githubusercontent.com/58562964/164201620-b9c3e7e8-8d06-4daa-8fbd-4546675f52e7.png)
![obraz](https://user-images.githubusercontent.com/58562964/164201651-732f39a5-6342-49b5-b6d6-1ef463a0f147.png)

Tsconfig.json:
[code]
I don't know what to do

[2022-05-03 00:59] MikeMcMahon commented on #101
on the tests that use drag-drop don't forget to `import '@4tw/cypress-drag-drop'`  or require...etc

[2022-05-12 12:19] dao0dao commented on #101
Thank you, that resolve problem with the error `cy.get(...). drag is not a function`. Unfortunately that plugin still can not drag element and drop it to placeholder. Test informs me that everything is ok, but a puzzle is not solve
![test](https://user-images.githubusercontent.com/58562964/168072870-59ad4c95-b55b-4af5-888c-958e28780357.png)
![picture](https://user-images.githubusercontent.com/5856

[2022-05-23 12:08] tester-at-bmi opened #103 "No overload matches this call? Typescript?"
Hi All,

I have some issues within my editor that i don't know how to solve.

Hope someone can guide me in the right direction solving the following:
`cy.get('div[data-testid="CHECKBOX"]').drag('#test', {
          source: {},
          target: { position: 'bottom' },
          force: false
        }
);`

I'm getting the following error within my editor:
`No overload matches this call.
  Overload

[2022-05-24 09:42] tester-at-bmi opened #104 "How to get the wrapped object/element on success?"
Currently i'm trying to figure out how i'm able to get the element that is wrapped and dragged into the droparea on success. Basically i wan't to know what the id of that element was and continue my tests to make sure i'm getting the correct element when modifying it.

Any suggestions on how to tackle this?

[2022-06-21 13:42] AlbaSS18 opened #109 "Error with webpack"
Hi,

I have added this library in my project where I worked with Angular. In local, everything works fine and the tests passed. However, when I run the tests in `jenkins`, it is displaying the next error:

![imagen](https://user-images.githubusercontent.com/46462037/174812418-f2aecbf8-b7dc-4ba7-af3e-d19c00fdc76e.png)

 I have configured how the `readme.md` said, so I don't understand why it is dis

[2022-06-22 23:32] craigsumner commented on #100
I'm struggling with the same issue. I wish we could indicate the targeting using chaining, the same way we do the source.

[2022-06-23 20:06] zdenardi opened #110 "Drag and drop asserts successful, no drag happens, will happen if phyical mouse cursor is in place"
Installed drag and drop and working with AG-Grid, trying to move rows around. Cypress reports success but no dragging happens. Funny enough, if the cursor is in "the right place" (not actually doing any of the commands) the drag and drop will happen.

[2022-06-28 06:54] klingenm commented on #103
Using the following versions
[code]

I have the same issue;

[code]

[2022-07-04 16:29] Langelozzi opened #112 "Drag and Drop Test Passing but No Actions Occur"
I am attempting to use the drag and drop plugin to test filtering on a kendo table which occurs when you drag the column header into the drop target (see manual-drag-drop, attachment 2). When I run my test I see the events occurring but nothing is being done on the application itself (see cypress-drag-drop, attachment 1).

https://user-images.githubusercontent.com/78877127/177192183-2a472623-c0ca-

[2022-07-25 18:48] ericcmmi commented on #112
Do you know what version of Cypress you are using and which version of the plug-in? We just updated to 9.7 from 9.61 and are experiencing the same thing.

[2022-07-25 19:08] Langelozzi commented on #112
I am using the following versions:
Cypress - 10.0.3
Drag and Drop Plugin - 2.1.0

[2022-07-26 12:43] Mawster commented on #103
Hello,

it seems that the type definition is wrong. It is mentioned that
"The options are directly passed to Cypress' trigger command. So, all options from https://docs.cypress.io/api/commands/trigger#Arguments are possible."

so ignoring the error helps and it gets passed, but the typedefinition of the options is false and does not include the https://docs.cypress.io/api/commands/trigger#Argument

[2022-07-29 17:20] jlinall commented on #110
Have you tried manually entering coordinates? e.g. cy.get().drag({source: {x: 20, y: 20}, force: true})

[2022-07-29 17:26] jlinall commented on #112
As a workaround for our project, we commented out this.dragover() of the drag() function in index.js of this library.  We're still investigating the actual cause.  Currently, we're suspecting that it has something to do with the draggable elements being inside scrollable elements.

[2022-08-01 06:33] Bassy-Teisen opened #115 "Clicking the Correct Location but not Draging From Clicked Location"
I was able to make cypress click the source element location and target location, however when cypress attempted to drag the source element it would be moved to the wrong location. I found that the locations were be captured from inside of the parent div, then when the element was dragged, its location would be placed relative to the body. This meant that the element was always to high to be dropp

[2022-08-04 22:16] Langelozzi commented on #112
@jlinall Thank you for your suggestion. I have commented out 'this.dragover()' and other functions in an attempt to solve the issue but have still be unsuccessful with my attempts.

[2022-08-12 16:56] joPaquet02 commented on #103
Did you find a fix for this issue?

I'm having trouble with this issue aswell.
I got the command like this in command.ts
`cy.get(sourceItem).drag(targetItem);`

From that command, my row did get move but to the position before the source because the default target is `top` and because of that the `sourceItem` get placed on the top of `targetItem` location.
If i add this to my command:
`cy.get(sour

[2022-08-19 15:23] bdiallo commented on #112
Hi @Langelozzi have you found a solution? As I have the same problem

[2022-08-19 15:31] bdiallo commented on #92
Hi @aasimali have you tried https://gitlab.com/kgroat/cypress-iframe?

[2022-08-19 15:41] Langelozzi commented on #112
Hi @bdiallo, I have still been unable to resolve this issue. I have been in contact with cypress support but after weeks of communication, they were unable to find a solution.

[2022-08-31 10:55] Bhasu1407 opened #116 "cypress drag not working with version 2.2.1"
we were using the package 1.8.0 with angular 13.0 and cypress 9.3.1, the drag drop was working
after migrating to angular 14.1, cypress 10.4 and cypress drag drop to 2.2.1 the drag drop is not working. Any suggestion?

[2022-09-07 07:35] barnie-karbonhq opened #117 "Drag drop 2.2.1 not working with Cypress 10.7.0"
This used to work with 2.0.0 / Cypress 8.7.0
After the drag drop it brings up a Modal. I have got the below code, which was working fine before.
`.drag('@myelement', { position: 'center' }, { force: true });`
![image](https://user-images.githubusercontent.com/110865864/188817008-2eb9c9a2-ca96-444c-b3e6-b8983786973b.png)

[2022-09-07 07:38] barnie-karbonhq commented on #98
This was raised on March 25th and still no fix :(

[2022-09-07 23:25] barnie-karbonhq commented on #98
Did you found a work around @T-e-j-k-u-m-a-r ?

[2022-09-08 04:19] barnie-karbonhq commented on #112
any luck with this @Langelozzi ?

[2022-09-08 07:40] barnie-karbonhq commented on #117
@bierik @Sauloxd .. Could you please help?

[2022-09-09 01:26] Langelozzi commented on #112
@barnie-karbonhq No luck thus far :(

[2022-09-12 13:32] jlinall commented on #112
@barnie-karbonhq -- as a workaround, we copied the index.js of this project into our Cypress commands file.  We'd rather use the package, but will need to wait until the issue is resolved before reverting back.

[2022-09-12 22:51] barnie-karbonhq commented on #112
Thanks @jlinall , will try that. We are using package `2.0.0` and doing `npm install --force` , which works fine.

[2022-10-06 11:58] MikaeelArmaan opened #119 "Drag and Drop issue in Iframe"
Hi,
I am trying to drag and drop elements in an iframe but not working on UI. I have tried below code
This is with the cypress iframe plugin

  cy.iframe('iframe#ccAgentFrame')
    .find('div[title="Standard Trainer x8101"]')
    .trigger('dragstart', { dataTransfer });

  cy.iframe('iframe#ccAgentFrame')
    .find('div[data-test-id="CONTACT_CENTER_MEMBERS"]>div:nth-of-type(2)')
    .trigger('drop

[2022-10-17 10:55] alex-returned opened #120 "Drop stopped working after the second drag and drop"
I want to drag and drop three elements, but after the second drag and drop, it stopped working. The following code console log `true, true, false`.  Any idea why?

[code]

[code]

[2022-10-18 12:02] iomedico-beyer commented on #116
my suggestion: https://stackoverflow.com/a/74094819/1948252

[2022-11-09 06:48] qa-joerg commented on #100
Any news on this?

[2022-11-09 15:57] JohnnyFun opened #121 "Cypress 11 support"
Looks like it might just be a matter of updating dependency expectations?

[2022-11-10 07:54] dmaicher commented on #121
yeah indeed. I tried and it works just fine using Cypress 11

[2022-11-14 17:14] JohnnyFun commented on #121
And sounds like they're about to release v12, fwiw, so might as well make it allow that version too: https://github.com/cypress-io/cypress/issues/7306#issuecomment-1314070767

[2022-11-14 17:55] dmaicher commented on #121
Or maybe just allow any version? 😊

[2022-11-14 18:03] JohnnyFun commented on #121
lol, I had the same thought right after I commented and saw your PR. Yeah, I'd honestly say we should just make a note in the readme like "Good on cypress@6-11, probably good on others after too..."

[2022-11-18 16:57] vaibhavganatra commented on #121
@dmaicher Thank you merging the [PR122](https://github.com/4teamwork/cypress-drag-drop/pull/122).
Would you be able to create a new version release 2.2.2 which includes these changes?

[2022-11-18 17:31] dmaicher commented on #121
@vaibhavganatra I did not merge the PR nor do I have the permission to do so.

[2022-11-23 00:02] vaibhavganatra commented on #121
@bierik This is blocking us from upgrading to cypress 11.

[2022-11-23 07:59] dmaicher commented on #121
@vaibhavganatra this package certainly is not preventing anyone from upgrading to Cypress 11. You could just [override](https://docs.npmjs.com/cli/v9/configuring-npm/package-json#overrides) the peer requirement for example. I did the same for now until a new release is available.

[2022-11-23 08:34] bierik commented on #121
@dmaicher @vaibhavganatra  Released `2.2.2` with cypress 11 support. Thank you so much for your contribution.

[2022-11-23 08:34] #121 closed

[2022-11-23 17:51] vaibhavganatra commented on #121
@bierik @dmaicher I really had no clue about the workaround to resolve dependencies. Thanks for providing a workaround for future use and for your contribution.